/* Custom CSS styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333333;
}
.container {
    
    padding: 20px;
    background-color: white;
}
header {
    text-align: center;
    padding: 20px;
    background-color: steelblue;
    color: white;
}
.profile-image {
  width: 150px; /* Adjust the width to your desired size */
  height: auto;
  border-radius: 300px; /* Apply rounded corners if desired */
}

section {
    margin-bottom: 30px;
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
p {
    font-size: 20px;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    font-size: 20px;
}
.project {
    margin-bottom: 20px;
}
.project a {
    color: #007bff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
#contact ul li:before {
    content: "\2709\0020";
    margin-right: 5px;
}

#contact ul li:last-child:before {
    content: "\260E\0020";
}

